# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# MLflow local files
mlruns/
mlartifacts/
mlflow.db
*.db

# Data
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/